{% extends "layout.html" %}

{% block title %}
    News
{% endblock %}

{% block main %}

<form action="/news" method="post">
    <input type="text" name="topic" class="form-control mx-auto w-auto" placeholder="Search topic...">
    <p></p>
    <input type="submit" value="Search" class="btn btn-primary">
</form>
<p></p>

<section>
    <div class="d-flex flex-column align-items-start">
        {% for article in general_news %}
        <div class="news-item">

            <a href="{{ article.url }}" target="_blank">{{ article.title }}</a>
        </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
